version: '3'

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/code
    ports:
      - "8000:8000"
    depends_on:
      - db
  db:
    image: postgres
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
  redis:
    image: redis
    restart: always
    container_name: 'market_redis'
    command: redis-server
    ports:
      - '6379:6379'
  celery:
    build: .
    container_name: 'market_celery'
    command: celery -A market worker -B -E
    volumes:
      - .:/code
    links:
      - redis
    depends_on:
      - web
      - redis
